<header class="nav-header">
  <div class="nav-content">
    <a href="home.html" class="logo">
      <span class="material-symbols-outlined">graphic_eq</span>
      RADIANT PRODUCTION
    </a>

    <!-- Hamburger Menu Button -->
    <button class="menu-toggle" aria-label="Open menu">
      <span class="bar bar1"></span>
      <span class="bar bar2"></span>
      <span class="bar bar1"></span>
    </button>

    <nav class="nav-links">
      <button class="cta">
        <a href="home.html" class="hover-underline-animation">Home</a>
      </button>
      <button class="cta">
        <a href="volunteers.html" class="hover-underline-animation">Volunteers</a>
      </button>
      <div class="dropdown">
        <button class="cta">
          <a href="training_resources.html" class="hover-underline-animation">Training Resources &#9660;</a>
        </button>
        <div class="dropdown-content">
          <a href="camera_operator_training.html">Camera Operators</a>
          <a href="training_resources.html#position-audio-engineers">Video Directors</a>
          <a href="training_resources.html#position-lighting-technicians">Lighting Engineers</a>
          <a href="training_resources.html#position-stage-design">Stage Managers</a>
          <a href="training_resources.html#position-media-graphics">Computer Graphics Operators</a>
          <a href="training_resources.html#position-audio-engineers">Audio Engineers</a>
          <a href="training_resources.html#position-live-stream-directors">Live Stream Directors</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="cta">
          <a href="javascript:void(0)" class="hover-underline-animation">About Us &#9660;</a>
        </button>
        <div class="dropdown-content">
          <a href="audio_gear.html">Audio Gear</a>
          <a href="video_gear.html">Video Gear</a>
          <a href="lighting_gear.html">Lighting Gear</a>
          <a href="music_videos.html">Music Videos</a>
          <a href="other_projects.html">Other Projects</a>
        </div>
      </div>
      <button class="cta">
        <a href="stage.html" class="hover-underline-animation">Stage Design History</a>
      </button>
      <button class="cta">
        <a href="contact.html" class="hover-underline-animation">Connect</a>
      </button>
    </nav>
  </div>
</header>
